@font-face {
  font-family: Karla;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/Karla/karla-variablefont_wght-webfont.woff2) format('woff2'),
    url(/assets/fonts/Karla/karla-variablefont_wght-webfont.woff) format('woff');
}

@font-face {
  font-family: Convergence;
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local(''), url(/assets/fonts/Convergence/convergence-regular-webfont.woff2) format('woff2'),
    url(/assets/fonts/Convergence/convergence-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: Convergence;
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local(''),
    url(/assets/fonts/Convergence/convergence-regular-webfont.woff2) format('woff2'),
    url(/assets/fonts/Convergence/convergence-regular-webfont.woff) format('woff');
}

@font-face {
  font-family: 'RobotoMono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local(''),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff2)
      format('woff2'),
    url(/assets/fonts/robotomono/robotomono-variablefont_wght-webfont.woff) format('woff');
}
